# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/