streamlit>=1.60

pandas
numpy
scipy

plotly
matplotlib

scikit-learn
xgboost
shap==0.52.0
numba>=0.60
torch

pingouin
factor_analyzer

openpyxl
XlsxWriter
reportlab
kaleido==0.2.1

pydantic

loguru
joblib

Pillow

pytest
